
*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.block {
    box-sizing: content-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;    
}

a {
    text-decoration: none;
}

.reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 940px;
    margin-right: auto;
    margin-left: auto;    
}

.index-header {
    background-color: #f4f7f9; 
    margin-bottom: 59px;
}

.inner-lighter {
    background-color: #f2f6f8; 
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    }

.button {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;   
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ee3643; 
    border: 0;
    border-radius: 3px;
}

.button:hover {
    background-color: #ca2c37; 
} 
  
.button:active {
    background-color: #ba2732; 
} 

.logo {
    width: 220px;
    height: 42px;
    background-color: #ee3643;      
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover,
.logo:focus {
    background-color: #ca2c37;
}

.logo:active {    
    background-color: #ba2732;    
}

.header-top {
    font-size: 17px;
    line-height: 18px;   
    color: #ffffff;
    background-color: #293449;
}

.header-top .container {
    display: flex;    
}

.header-wrapper {   
    display: flex; 
    margin-top: 45px;
    margin-bottom: 44px;
}

.header-info-wrapper {
    width: 270px;
    display: flex;
    flex-direction: column;    
}

.search-form {
    width: 270px;
}

.user-menu {
    width: 450px;
    display: flex;
}

.search-form input {
    font: inherit;
    color: #ffffff;
    background-color: transparent;
    border: 0;
}

.header-top-item {
    color: #ffffff;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 45px;
}

.header-top-item:hover,
.header-top-item:focus,
.search-form input:hover {
    background-color: #212a3a;    
}

.header-top-item:active {
    color: #75777c;
    background-color: #161d29; 
}

.search-form input:focus {
    color: #000000;
    background-color: #ffffff;
}

.cart {
    background-color: #ee3643;
}

.order {
    padding-right: 22px;
    padding-left: 20px;
    background-color: #63a63e;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;  
}

.order:active {
    color: #b6c8ae;
    background-color: #518534
}

.description {    
    width: 196px;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
    margin-top: 3px;
    margin-right: 71px;
    margin-bottom: 0;
    margin-left: 52px;
    
}

.phone {   
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;   
}

.address {
    color: #32425c;
}

.user-block {
    width: 300px;
    margin-left: auto;
}

.user-block a {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;  
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 11px;
    padding-left: 25px; 
}

.user-block .login {
    padding-right: 27px;   
    padding-left: 48px; 
    margin-right: 10px;
}

.user-block a:hover,
.user-block a:focus {
    color: #ee3643;
}

.user-block a:active {
    color: #b2b2b2;
}

.user-info a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
    background-color: transparent;
}

.nav-list {
    display: flex;
    justify-content: center;
    background-color: #32425c;    
}

.nav-item a {
    font-size: 17px;
    line-height: 17px;   
    color: #ffffff;
    display: block;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;            
}

.nav-item a:hover,
.nav-item a:focus {
    background-color: #293449;
}

.nav-item a:active {
    color: #a1a4a8;
    background-color: #1d2739;
}

.page-title {
    font-size: 30px;
    line-height: 30px;  
    color: #32425c;
    text-transform: uppercase;
}

.promo {
    background-color: pink;  /*временно*/
    font-size: 18px;    
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 53px;
}

.promo-item {
    width: 300px;
    height: 123px;
    background-color: green;
    padding-top: 26px;
    padding-bottom: 22px;
    padding-left: 25px; 
}

.materials {
    background-color: #ffbf47;
}

.instruments {
    background-color: #3bbce3;
}

.technics {
    background-color: #dc91d8;  
}

.sale {
    background-color: #8ed78f;
}

.delivery {
    background-color: #ffc047;
}

.promo-heading {
    font-size: 24px;
    line-height: 30px; 
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;       
}

.promo-button {
    display: block;
    width: 135px;
    background-color: rgba(0, 0, 0, 0.1)
}

.promo-button:hover, 
.promo-button:focus {
    background-color: rgba(0, 0, 0, 0.2)
}

 .promo-button:active {
    background-color: rgba(0, 0, 0, 0.3)
}

.promo-top-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.promo-wrapper {
    display: flex; 
    justify-content: space-between;   
}

.promo-right-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.slider {
    background-color: red; 
    width: 620px;
    height: 266px; 
}

.slide {   
    padding-top: 27px;  
    padding-left: 25px;     
}

.slide h2 { 
    font-size: 36px;    
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}

.slide p {     
    margin: 0;
}

.slide-drill {
    background-color: #75777c;
    background-image: url("../img/slider-1.jpg");
}

.slide-perforator {
    display: none;
    background-color: #75777c;
    background-image: url("../img/slider-2.jpg");
}

.heading-lighter {
    height: 89px;
    background-color: #f9f5f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 30px;
    margin-bottom: 20px;    
}

.heading {
    font-size: 30px;
    line-height: 30px;   
    color: #000000;
    text-transform: uppercase;
    font-weight: 400; 
    margin: 0;   
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;    
    font-family: "PT Sans", Arial, sans-serif; 
    font-size: 17px;
    line-height: 18px; 
    font-weight: 700;      
}

.catalog-item {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    width: 220px;
    min-height: 318px;
    border: 1px solid #eaeaea;
    margin-right: 20px;
    margin-bottom: 21px;
}

.main-page .catalog-item:nth-child(4n) {
    margin-right: 0;
}

.inner-page .catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item img {
    order: -1;
}

.product-name {
    font-size: 18px;
    line-height: 20px;   
    color: #000000; 
    margin: 0;    
}

.old-price {   
    color: #a9a9a9;    
    text-decoration: line-through;
}

.new-price {
    font-size: 17px;
    line-height: 18px;  
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 36px;
    padding-right: 40px;
    background-image: url("../img/icon/icon-new-price.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.buy{
    padding-bottom: 8px;
    padding-left: 48px;
    padding-right: 44px;
    border-bottom: 3px solid #367315;    
    background-color: #63a63e;
}

.buy:hover, 
.buy:focus {
     background-color: #5fbb2d;
}

.buy:active {
    background-color: #518534;
}

.bookmark {
    font-family: "Cuprum", Arial, sans-serif;
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    color: #32425c;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 3px solid #63a63e;
    border-radius: 3px;
}

.bookmark:hover, 
.bookmark:focus {
    border-color: #32425c;
}

.bookmark:active {
    color: #d0d2d6;
    border-color: #c1c6ce;    
}

.brands-list {
    display: flex;
    flex-wrap: wrap;
}

.brands {
    margin-bottom: 65px;
}

.brands-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 145px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    margin-right: 20px;
    margin-bottom: 20px;
}

.brands-item:nth-child(4n) {
    margin-right: 0;
}

.brands-item:hover {   
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);    
}

.brands-item:active {  
    box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}
.popular {
   color: #32425c;
}

.services {    
    background-color: #f4f7f9;
    padding-top: 63px;
    padding-bottom: 97px;    
}

.services-slogan {
    width: 400px;
    font-family: "PT Sans", Arial, sans-serif;
    margin-top: 35px;
    margin-bottom: 70px;    
}

.services-wrapper {
    display: flex;
}

.services-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 240px;
    margin-right: 80px;
    background-color: green; /*временно*/
    color: #ffffff;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;     
}

.services-item {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 23px;
    background-color: #32425c;
    box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;   
}

.current-service {
    color: #32425c;
    background-color: #ffffff;
    box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
}

.service-description-list {
    width: 380px;
    background-color: yellow; /*временно*/
}
  
.service-heading {
    font-size: 36px;
    line-height: 36px;  
    color: #32425c; 
    margin-bottom: 30px;
}

.service-description-item p {
    font-family: "PT Sans", Arial, sans-serif;
    margin: 0;    
}

.service-description-item .button{
    background-color: #ff5357;
    padding-left: 45px;
    padding-right: 45px;
}

.company {
    display: flex;
    justify-content: space-between;
    padding-top: 82px;
    padding-bottom: 86px;
}

.company-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 520px;
    background-color: yellow;
}

.company p {
    font-family: "PT Sans", Arial, sans-serif;
    margin-top: 30px;
    margin-bottom: 0; 
    background: grey;
}

.company-contact {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: green;
}

.delivery-list {
    font-size: 18px;
    line-height: 20px;
    margin-top: 27px;
    margin-bottom: 40px;   
}

.company-contact img {
    margin-top: 38px;
    margin-bottom: 40px;   
}

.delivery-list li {
    margin-bottom: 20px;    
    padding-left: 36px;
}

.delivery-list li:last-child {
    margin-bottom: 0;    
}

.company-info .button {
    padding-right: 40px;
    padding-left: 40px;
}





.footer-panel-wrapper {
    background-color: #32425c;
}

.footer-panel {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 24px;  
    color: #ffffff;    
}

.panel-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 34px;
}

.footer-nav-list {
    display: flex;
}

.panel-promo {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 53px;
}
.panel-promo p{
    margin: 0;
}

.footer-promo-list {
    display: flex;
}

.footer-nav-list a { 
    color: #ffffff;
}

.footer-nav-list li {    
    margin-right: 56px;
}

.footer-nav-list :last-child {
    margin-right: 0;
} 

.footer-promo-list li {    
    margin-right: 60px;
}

.footer-promo-list :last-child {
    margin-right: 0;
} 

.footer-promo-list a {
    color: #ffd180;
}

footer a:hover {
    text-decoration: underline;  /*   вопрос: Анна, это  border-bottom  ?  */
}

.footer-site-nav a:active {
    color: #a4abb4;
    text-decoration: none;
}
 
 .footer-promo a:active {
     color: #ad956f;
     text-decoration: none;
}

.footer-bottom-wrapper {
    background-color: #293449;
}

.footer-bottom {
    display: flex;
    font-size: 16px;
    line-height: 18px;  
    color: #ffffff;    
}

.copyrigth {
    width: 230px;
    margin-right: 160px;
}

.social-list {
    width: 170px;
}

.footer-feedback {
    width: 135px;
    margin-left: auto;
    margin-right: 50px;
}

.developer {
    width: 96px;
}

.footer-bottom a {
    color: #ffd180;
}

.footer-bottom a:active {
    color: #ee3643;
    text-decoration: none;
}



.feedback {
    display: flex;
    flex-direction: column;
    width: 620px;
    height: 430px;    
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    border-top: 8px solid #ee3643;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);    
}

.feedback-item {
    margin-top: 25px;
    margin-left: 80px;
}

.feedback-item input,
.feedback-item textarea {
    font: inherit;  
    background-color: transparent;
    border: 2px solid #dee3e4;
}
  
.feedback-item label {
    font-size: 18px;
    line-height: 18px;  
    color: #000000;  
}

.feedback-form .button {
    padding-left: 199px;
    padding-right: 199px;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;  
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 25px;     
}

.breadcrumbs-item {
    padding-left: 40px;
}

.breadcrumbs a {
    color: #000000;   
}
  
  .breadcrumbs a:hover,
  .breadcrumbs a:focus {
    text-decoration: underline;
}

.catalog-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog-inner-wrapper {
    width: 700px;
    display: flex;
    flex-direction: column;    
}
  
.filter {
    width: 220px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;    
}

.filter-title  {
    font-family: "PT Sans", Arial, sans-serif; 
    font-size: 13px;
    line-height: 18px; 
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;   
}

.filter fieldset {
      border: 0;
}

.filter legend{
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;   
}

.filter-button {
      font: inherit;
      text-transform: uppercase;
      background-color: transparent;
      border: 2px solid #e5e5e5;      
      border-radius: 3px;
}

.filter-lighter {
      background-color: #f7f3ec;
      border-radius: 3px;
}

.catalog-paginator {
    display: flex;
    align-items: flex-start;
    margin-top: 52px;  
    margin-bottom: 60px;  
}

.catalog-paginator li {
    width: 38px;
    height: 38px;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
}

.pagination-current {
    background-color: #ee3643;
}

.article {
    padding-top: 67px;
    padding-bottom: 73px;

}

.popup-add-cart { 
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 620px;
    height: 282px;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
    background-color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    border-top: 7px solid #ee3643;   
}

.popup-add-cart h2 {
    font-size: 30px;
    line-height: 30px;
}
    
.popup-ligther {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
    padding-right: 80px;
    padding-bottom: 51px;
    padding-left: 80px;
    background-color: #f1f1f1;
}

.checkout {
    padding-right: 62px;
    padding-left: 59px;
    margin-right: 20px;
}

.continue-shopping{
    padding-right: 48px;
    padding-left: 44px; 
    color: #000000;
    background-color: #ffffff;   
}