
*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.block {
    box-sizing: content-box;
}

body {    
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;    
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.reset-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 940px;
    margin-right: auto;
    margin-left: auto;    
}

.page-header {
    background-color: #f4f7f9;    
    padding-bottom: 60px;    
}

.inner-lighter {
    background-color: #f2f6f8;    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;   
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ee3643; 
    border: 0;
    border-radius: 3px;
}

.button:hover {    
    background-color: #ca2c37; 
} 
  
.button:active {    
    background-color: #ba2732; 
} 

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;   
    background-color: #ee3643;      
}

.logo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -5px;
    left: 0;
    background-color: #b52933;
}

.logo:hover,
.logo:focus {
    background-color: #ca2c37;
}

.logo:hover::after {    
   background-color: #9a212a;
}

.logo:active {    
    background-color: #ba2732;    
}

.logo:active::after {      
   background-color: #8e1e26;
 }


.header-top {
    font-size: 17px;
    line-height: 18px;   
    color: #ffffff;
    background-color: #293449;
}

.header-top .container {
    display: flex; 
    flex-wrap: wrap;
}

.header-wrapper {   
    display: flex; 
    margin-top: 46px;
    padding-bottom: 40px;
}

.header-info-wrapper {
    width: 270px;
    display: flex;
    flex-direction: column;    
}

.search-form {
    width: 270px;
    position: relative;
}

.search-form label {
    position: absolute;    
    top: 11px;
    left: 49px;
    z-index: 1;
    
}

.search-form input {
    position: relative;
    width: 100%; 
    height: 100%;  
    font: inherit;
    color: #293449;
    background-image: url('../img/icon/icon-search.svg');
    background-position: 17px 12px;
    background-repeat: no-repeat;
    background-color: transparent;
    padding-left: 49px;
    border: 0;
}

.user-menu {    
    display: flex;
    flex-wrap: wrap;    
    width: 450px; 
}

.user-menu-item {
    position: relative;
    flex-grow: 1; 
    color: #ffffff;
    padding-top: 12px;   
    padding-right: 21px;
    padding-bottom: 12px;
    padding-left: 45px;
}

.user-menu-item:hover,
.user-menu-item:focus,
.search-form input:hover {
    background-color: #212a3a;    
}

.search-form input:hover {
    color: #212a3a;    
    background-image: url('../img/icon/icon-search-hover.svg'); 
}

.user-menu-item:active {
    color: #75777c;
    background-color: #161d29; 
}

.search-form input:focus {
    color: #000000;
    background-image: url('../img/icon/icon-search-red.svg'); 
    background-color: #ffffff; 
    z-index: 2;   
}

.bookmarks::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 16px;
    top: 12px;
    left: 17px;
    background-image: url("../img/icon/icon-bookmark.svg");
    opacity: 0.3;
}

.cart::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 12px;
    left: 13px;
    background-image: url("../img/icon/icon-cart.svg");
    opacity: 0.3;
}

.bookmarks:hover::before,
.cart:hover::before {
    opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
    opacity: 0.5;
}


.not-empty {
    background-color: #ee3643;
}

.order { 
    flex-grow: 0;    
    padding-left: 20px;
    background-color: #63a63e;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;  
}

.order:active {
    color: #b6c8ae;
    background-color: #518534
}

.description {    
    width: 200px;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
    margin-top: 4px;
    margin-right: 69px;
    margin-bottom: 0;
    margin-left: 53px;    
}

.phone {   
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;   
}

.address {
    color: #32425c;
}

.user-block {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: auto;
}

.account {
    display: flex;    
}

.login,
.registration,
.user-name {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;  
    padding-top: 12px;
    padding-right: 23px;
    padding-bottom: 12px;
    padding-left: 23px; 
}

.user-name {
    flex-grow: 1;
    padding-right: 0;
    padding-left: 47px;
    background-image: url("../img/icon/icon-user.svg");
    background-position: 14px 13px;
    background-repeat: no-repeat;   
}

.user-name:hover {
    background-image: url("../img/icon/icon-user-hover.svg");
}

.user-name:active {
    background-image: url("../img/icon/icon-user.svg");
}

.user-block .login {
    position: relative;
    padding-right: 27px;   
    padding-left: 48px;    
    margin-right: 10px;  
    margin-left: auto;
}

.login::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    top: 14px;
    left: 14px;
    background-image: url("../img/icon/icon-login.svg");
}

.account-exit {
    font-size: 0;
    background: #ffffff url("../img/icon/icon-logout.svg") center no-repeat;
    width: 45px;    
}

.login:hover::before {
    background-image: url("../img/icon/icon-login-hover.svg");
}

.login:active::before {
    background-image: url("../img/icon/icon-login.svg");
}

.account-exit:hover {
    background-image: url("../img/icon/icon-logout-hover.svg");
}

.account-exit:active {
    background-image: url("../img/icon/icon-logout.svg");
}

.account-info {
    display: flex;
    flex-wrap: wrap;
    padding-top: 7px;
    padding-right: 18px;
    padding-left: 18px;
}

.account-info a {   
    position: relative;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
    margin-right: 32px;
}

.user-block a:hover,
.user-block a:focus {
    color: #ee3643;
}

.user-block a:active {
    color: #b2b2b2;
}

.account-info a:first-child::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #32425c;
    border-radius: 50%;
    top: 7px;
    right: -20px;
}


.header-info-wrapper {
    width: 270px;    
    display: flex;
    flex-direction: column; 
}

.phone {
    position: relative;    
    padding: 10px 0px 10px 69px;
    border: 3px solid #ffffff;    
}

.phone::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    top: 11px;
    left: 10px;
    background-image: url("../img/icon/icon-phone.svg");
}

.address{
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 0;
    margin-left: 7px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #32425c;
    border-bottom: 5px solid #293449;    
}

.nav-item a {
    font-size: 17px;
    line-height: 17px;   
    color: #ffffff;
    display: block;
    padding-top: 19px;
    padding-right: 30px;
    padding-bottom: 19px;
    padding-left: 30px;            
}

.nav-item a:hover,
.nav-item a:focus {
    background-color: #293449;
}

.nav-item a:active {
    color: #a1a4a8;
    background-color: #1d2739;
}

.page-title {
    font-size: 30px;
    line-height: 30px;  
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    padding-top: 30px;
    padding-right: 27px;
    padding-bottom: 27px;
    padding-left: 27px; 
    margin: 0;   
    margin-bottom: 20px;
}

.promo {    
    font-size: 18px;    
    line-height: 24px;
    color: #ffffff;
    margin-top: 59px;
    margin-bottom: 53px;
}

.promo-item {
    position: relative;
    width: 300px;
    height: 123px;    
    padding-top: 21px;
    padding-bottom: 22px;    
}

.materials {    
    background: #ffbf47 url("../img/icon/icon-1.svg") 213px 30px no-repeat;
}

.instruments {   
    background: #3bbce3 url("../img/icon/icon-2.svg") 198px 32px no-repeat;
}

.technics {
    background:  #dc91d8 url("../img/icon/icon-3.svg") 192px 30px no-repeat;
}

.sale {
    background:  #8ed78f url("../img/icon/icon-4.svg") 196px 26px no-repeat;
}

.delivery {
    background:  #ffc047 url("../img/icon/icon-5.svg") 192px 30px no-repeat;
}

.promo-heading {
    font-size: 24px;
    line-height: 30px; 
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 13px; 
    margin-left: 23px;      
}

.promo-button {
    display: block;
    width: 135px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 25px;
}

.promo-button:hover, 
.promo-button:focus {
    background-color: rgba(0, 0, 0, 0.2)
}

 .promo-button:active {
    background-color: rgba(0, 0, 0, 0.3)
}

.promo-top-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.promo-wrapper {
    display: flex; 
    justify-content: space-between;   
}

.promo-right-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.slider {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;      
    width: 620px;
    height: 266px;
    font-size: 0; 
    padding-right: 20px;
    padding-left: 25px;
    background-color: #75777c;
}

.slide-1 {    
    background-image: url("../img/slide-1.jpg");
}

.slide-2 { 
    background-image: url("../img/slide-2.jpg");
}

.slider-scroll {
    width: 100%;
    display: flex;
    justify-content: space-between;   
    margin-top: 113px;   
    margin-bottom: 52px;
}


.scroll-button {
    background-color: transparent;    
    width: 22px;
    height: 40px;
    border: 0;
}

.back {
    background-image: url("../img/icon/icon-left.svg");
}

.next {
    background-image: url("../img/icon/icon-right.svg");
}

.slider .button {
    padding-right: 45px;
    padding-left: 49px;
}

.heading-lighter {    
    background-color: #f9f5f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 30px;   
}

.catalog .heading-lighter,
.brands .heading-lighter {
    margin-bottom: 20px;
}

.button-show-all {
    width: 253px;
    margin-top: 25px;    
    margin-bottom: 26px;
}

.heading {
    font-size: 30px;
    line-height: 30px;   
    color: #000000;
    text-transform: uppercase;
    font-weight: 400; 
    margin: 0;   
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;    
    font-family: "PT Sans", Arial, sans-serif; 
    font-size: 17px;
    line-height: 18px; 
    font-weight: 700;      
}

.catalog-item {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;     
    width: 220px;
    min-height: 318px;
    border: 1px solid #eaeaea;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

.catalog-ite img {
    width: 218px;
    height: 170px;
}

.promo .new::after,
.catalog .new::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 59px;
    top: 0px;
    right: 0px;    
    background-image: url("../img/icon/icon-new.png");
    z-index: 5;
}

.catalog .new::after {
    top: -1px;
    right: -1px; 
}


.main-page .catalog-item:nth-child(4n) {
    margin-right: 0;
}

.inner-page .catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item img {
    width: 218px;
    height: 170px;
    order: -1;
}

.product-name {   
    font-size: 18px;
    line-height: 20px;      
    color: #000000;    
    margin: 9px auto 10px auto;    
}


.product-name  a {
    width: 190px;
    display: inline-block;
    vertical-align: top;
    text-align: center;

  
    color: #000000;        
}

.old-price {    
    color: #a9a9a9;    
    text-decoration: line-through;   
    text-transform: uppercase; 
    margin-top: 0;
    margin-bottom: 10px;   
    margin-left: 78px;
}

.not-price{
    color: #ffffff;
}

.new-price {
    font-size: 17px;
    line-height: 18px;  
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 36px;
    padding-right: 40px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 43px;
    background-image: url("../img/icon/icon-new-price.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.item-actions-wrapper {
    display: none;
    position: absolute;
    width: 218px;
    height: 170px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 5;
}


.item-actions {    
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.catalog-item:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item:hover > .item-actions-wrapper {
    display: block;  
}

.buy{
    padding-bottom: 8px;
    padding-left: 48px;
    padding-right: 44px;
    margin-top: 44px;
    margin-bottom: 7px;
    border-bottom: 3px solid #367315;    
    background-color: #63a63e;
}

.buy:hover, 
.buy:focus {
     background-color: #5fbb2d;
}

.buy:active {
    background-color: #518534;
}

.bookmark {
    font-family: "Cuprum", Arial, sans-serif;
    width: 135px;
    height: 38px;
    font-size: 14px;
    line-height: 18px;
    color: #32425c;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 3px solid #63a63e;
    border-radius: 3px;
}

.bookmark:hover, 
.bookmark:focus {
    border-color: #32425c;
}

.bookmark:active {
    color: #d0d2d6;
    border-color: #c1c6ce;    
}

.brands-list {
    display: flex;
    flex-wrap: wrap;
}

.brands {
    margin-bottom: 65px;
}

.brands-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 145px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    margin-right: 20px;
    margin-bottom: 20px;
}

.brands-item:nth-child(4n) {
    margin-right: 0;
}

.brands-item:hover {   
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);    
}

.brands-item:active {  
    box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
    opacity: 0.5;
}
.popular {
   color: #32425c;
}

.services {    
    background-color: #f4f7f9;
    padding-top: 63px;    
}    


.services-slogan {
    width: 400px;
    font-family: "PT Sans", Arial, sans-serif;
    margin-top: 27px;
    margin-bottom: 28px;    
}

.services-wrapper {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}

.services-list {
    width: 240px;
    position: relative;
    display: flex;
    flex-direction: column;  
    color: #ffffff;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;      
}

.services-list::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 279px;
    top: -33px;
    right: 0px;
    background: url("../img/service-border.png") no-repeat;    
}

.services-item {
    padding-top: 17px;
    padding-bottom: 15px;
    padding-left: 23px;
    background-color: #32425c;
    box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;   
}

.current-service {
    color: #32425c;
    background-color: #ffffff;
    box-shadow: 0 1px 0 #ffffff, inset 0 1px 0 #ffffff;
}

.about-service-list {
    width: 620px;  
}

.about-service-list li {
    padding-bottom: 117px; 
}
  
.delivery-type {
    background: url("../img/truck-delivery.png") no-repeat;  
    background-position: right 25px;  
}

.guarantee-type {
    background: url("../img/guarantee.png") no-repeat;  
    background-position: 238px 3px;  
}

.credit-type {
    background: url("../img/credit.png") no-repeat;  
    background-position: 165px 2px;  
}

.service-name {
    font-size: 36px;
    line-height: 36px;  
    color: #32425c; 
    margin-bottom: 24px;
}


.about-service p {
    width: 380px;
    font-family: "PT Sans", Arial, sans-serif;
    margin: 0; 
    padding-bottom: 34px;   
}

.about-service .button{
    background-color: #ff5357;
    padding-left: 45px;
    padding-right: 45px;
}

.company {
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 86px;
}

.company .heading {
    margin-bottom: 26px;
}

.company-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 520px;   
}

.company p {
    width: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    margin-top: 0;
    margin-bottom: 23px; 
    margin-left: 2px;   
}

.company-contact {
    display: flex;
    flex-direction: column;
    width: 300px;    
}

.delivery-list {
    font-size: 18px;
    line-height: 20px;    
    margin-bottom: 36px;   
}

.company-contact img {
    margin-top: 9px;
    margin-bottom: 40px;   
}

.delivery-list li {
    position: relative;
    margin-bottom: 20px;    
    padding-left: 36px;
}

.delivery-list li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    top: 8px;
    left: 1px;
    background-color: #ee3643;    
}

.delivery-list li:last-child {
    margin-bottom: 0;    
}

.company-info .button {
    padding-right: 41px;
    padding-left: 41px;
}

.footer-panel-wrapper {
    background-color: #32425c;
}

.footer-panel {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 24px;  
    color: #ffffff;    
}

.panel-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
}

.footer-panel .logo{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-nav-list,
.footer-promo-list {
    display: flex;
    flex-wrap: wrap;
    width: 580px;
    justify-content: flex-end;
}

.footer-nav-list {
    margin-top: 37px;
}


.panel-promo {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 48px;
}

.panel-promo p{
    margin: 0;
    margin-left: 3px;
}

.footer-nav-list a { 
    color: #ffffff;
}

.footer-nav-list li,
.footer-promo-list li {    
    margin-left: 59px;
    margin-bottom: 10px;
}

.footer-nav-list :first-child,
.footer-promo-list :first-child {
    margin-left: 0;
} 

.footer-promo-list li {    
    margin-left: 59px;
}

.footer-promo-list a {
    color: #ffd180;
}

footer a:hover {
    text-decoration: underline; 
}

.footer-site-nav a:active {
    color: #a4abb4;
    text-decoration: none;
}
 
 .footer-promo a:active {
     color: #ad956f;
     text-decoration: none;
}

.footer-bottom-wrapper {
    background-color: #293449;
    padding-bottom: 30px;     
}

.footer-bottom {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    line-height: 18px;  
    color: #ffffff;
    padding-top: 38px;       
}

.copyrigth {
    width: 225px;  
    margin: 0;  
    margin-right: 165px;    
}

.social-list {
    width: 170px;
    font-size: 0;
    display: flex;
    flex-wrap: wrap; 
    margin-top: -3px;   
}

.social-item {
    display: block;
    width: 42px;
    height: 42px;
    margin-right: 3px;
    margin-bottom: 10px;   
    background-color: #212a3a;    
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;    
}

.social-vk {
    background-image: url("../img/icon/icon-vk.svg");    
}

.social-fb {
    background-image: url("../img/icon/icon-fb.svg");    
}

.social-insta {
    background-image: url("../img/icon/icon-insta.svg");   
}

.social-item:hover,
.social-item:focus,
.social-item:active {
    background-color: #ee3643;
}

.footer-feedback {
    width: 135px;
    margin: 0;
    margin-left: auto;
    margin-right: 53px;
}

.developer {
    width: 96px;
    margin: 0;
    margin-right: 15px;
}

.footer-bottom a {
    color: #ffd180;
}

.footer-bottom a:active {
    color: #ee3643;
    text-decoration: none;
}

.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;  
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;     
}

.breadcrumbs-item {
    padding-right: 40px;
    display: block;
    position: relative;
    color: #000000;   
}

.home { 
    position: relative; 
    font-size: 0;
    padding-right: 53px;    
}


.home::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 12px;
    top: 2px;
    left: -1px;    
    background-image: url('../img/icon/icon-home.svg');
}
 
  .breadcrumbs a:hover,
  .breadcrumbs a:focus {
    text-decoration: underline;
}

.home:hover::before {
    background-image: url('../img/icon/icon-home-hover.svg');
}

.home:active::before  {
    background-image: url('../img/icon/icon-home.svg');
}

.breadcrumbs a::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 12px;
    top: 2px;
    right: 15px;
    background-image: url('../img/icon/icon-right-small.svg');    
}

.catalog-wrapper {
    display: flex;
    justify-content: space-between;    
}

.catalog-inner-wrapper {   
    display: flex;
    flex-direction: column;
    width: 700px;    
}
 
.filter {
    display: flex;
    flex-direction: column;
    width: 220px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;    
}

.filter-title  {
    font-family: "PT Sans", Arial, sans-serif; 
    font-size: 13px;
    line-height: 18px; 
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 12px;
    padding-right: 19px;
    padding-bottom: 9px;  
    padding-left: 19px;
    background-color: #f7f3ec;     
    border-radius: 3px;
    margin: 0;
    margin-bottom: 21px;
}

.filter .filter-title {
    margin-bottom: 18px;
}

.filter form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.filter-range {
    width: 220px; 
    margin-bottom: 30px;             
}

.filter-name {
    font-size: 17px;
    line-height: 18px; 
    font-weight: 700;  
    margin-bottom: 20px; 
}

.range-controls {
    display: flex;    
    width: 220px;
    height: 80px;    
    background-color: #f7f3ec;
    padding-top: 39px; 
    margin-top: 18px;
    padding-right: 20px;
    padding-left: 20px; 
    margin-bottom: 10px;
}

.scale { 
    position: relative;   
    width: 100%;
    height: 2px;  
    background-color: #d7dcde;    
}

.bar {
    width: 80%;
    height: 2px;  
    background-color: #00c974;
}
  
.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -9px;    
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-bottom: 20px;      
}

.price-controls .min-price,
.price-controls .max-price {
    width: 95px;    
}
  
.price-controls input {
    width: 95px; 
    font: inherit; 
    font-size: 17px;
    line-height: 18px;  
    text-align: center;       
    border: none;
    background-color: #f7f3ec;
    padding: 8px 8px 9px 8px;;
    margin: 0;
}
  
.filter fieldset {
    position: relative;
    padding: 0;
    margin: 0;
    border: 0;
    margin-bottom: 25px;
}

fieldset .filter-name::before {
    content: '';
    position: absolute;
    width: 220px;
    height: 2px;
    top: -24px;
    left: 0px;
    background-color: #e5e5e5;
}

.filter-brand-list, 
.filter-powered-list {
    display: flex;
    flex-direction: column; 
      
}

.filter-brand-list li,
.filter-powered-list li {   
    margin-bottom: 20px;
}


.filter-brand-list label,
.filter-powered-list label {
    position: relative;  
    display: block;  
    cursor: pointer;
    user-select: none;
    padding-left: 35px;
}

.brand-checkbox + label::before {
    content: "";
    position: absolute;  
    width: 23px;
    height: 23px; 
    top: -1px;
    left: 0px;   
    border: 2px solid #c5c5c5;
    border-radius: 4px;
}
  
.brand-checkbox:checked + label::before { 
    position: absolute;  
    width: 27px;
    height: 23px;  
    top: -1px;
    left: 0px; 
    border: 0;
    background-image: url('../img/icon/checkbox-on.svg');     
}

.powered-radio + label::before {
    content: "";
    position: absolute;  
    width: 25px;
    height: 25px; 
    top: 0px;
    left: 0px;   
    border: 4px solid #c5c5c5;
    border-radius: 50%;
}
  
.powered-radio:checked + label::before { 
    position: absolute;  
    width: 25px;
    height: 25px;  
    top: 0px;
    left: 0px; 
    border: 0;
    background-image: url('../img/icon/radio-on.svg');       
}


.brand-checkbox:disabled + label,
.powered-radio:disabled + label,
.brand-checkbox:disabled + label::before,
.powered-radio:disabled + label::before {
      opacity: 0.3;
}


/* вопрос: так нельзя или я что-то не так опредедила ,*/
.brand-checkbox:focus + label > .checkbox-indicator { 
    border-color: red;   
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;    
}

.filter-button {
    font: inherit;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #e5e5e5;   
    border-radius: 3px;
    padding: 9px 38px 9px 38px;
    margin-top: 33px;
}

.catalog-sort {
    display: flex;    
}

.catalog-sort span {
    width: 220px;
}

.sort-contlols-list {    
    display: flex;
    align-items: center;
    justify-content: space-between;  

    flex-wrap: wrap;    
    width: 480px;    
}

/*вопрос можно андерлайн стилизовать? */
.sort-contlols-item {    
    color: #acaaa5; 
    border-bottom: 1px dashed #ee3643;      
}

.active-sort {
    margin-top: 3px;
    color:#f06870;
    border: 0;
}
   
.sort-arrow {
    display: flex;
    justify-content: space-between;  
    width: 41px;
    margin-right: 0px; 
}

.sort-contlols-list .sort-down,
.sort-contlols-list .sort-up {
    font-size: 0;
    width: 11px;
    height: 11px;       
}

.sort-down {   
    background-image: url("../img/icon/icon-up-dir.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.active-arrow {
    background-image: url("../img/icon/icon-up-active.svg");
}

.sort-up {
    background-image: url("../img/icon/icon-down-dir.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.catalog-paginator {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 32px;  
    margin-bottom: 60px;  
}

.catalog-paginator a {
    display: flex;
    align-items: center;
    justify-content: center;  
    font-family: "PT Sans", Arial, sans-serif; 
    font-size: 13px;
    line-height: 18px; 
    text-transform: uppercase;
    padding-top: 9px;
    padding-right: 14px;
    padding-bottom: 9px;
    padding-left: 15px;
    color: #000000;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
}

.catalog-paginator .pagination-current {
    color: #ffffff;
    background-color: #ee3643;
}

.catalog-paginator .pagination-next {
    padding-right: 32px;
    padding-left: 32px;
}

.catalog-paginator a:hover {
    border: 1px solid #bdc6ca;
}

.catalog-paginator a:active {
    border: 1px solid #ee3643;
}

.article {
    padding-top: 65px;
    padding-right: 130px;
    padding-bottom: 69px;
    padding-left: 130px;
}

.article h2 {
    margin-bottom: 26px;
}

.article p {
    font-family: "PT Sans", Arial, sans-serif;     
    margin: 0;
}

.popup {
    position: fixed;  
    left: 50%;    
    background-color: #ffffff;
    border-top: 8px solid #ee3643;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75); 
      
}

.popup-feedback {
    display: none;
    width: 620px; 
    margin-left: -310px;
    bottom: 210px; 
    z-index: 10;      
}

.feedback-form {
    display: flex;
    flex-direction: column;
}

.feedback-form-wrapper {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    width: 460px;
    padding-top: 46px;
    padding-bottom: 9px;
    margin: 0 auto;     
}

.feedback-form .button {    
    width: 460px;       
}

.popup-lighter {
    display: flex; 
    justify-content: center;   
    background-color: #f4f4f4; 
    padding-top: 37px;
    padding-right: 20px;
    padding-bottom: 37px; 
    padding-left: 20px; 
}

.feedback-item {
    width: 220px; 
    margin: 0; 
    margin-bottom: 21px;        
}

.feedback-post {
    width: 460px;    
}

.feedback-post  textarea {   
    min-height: 114px;
}

.feedback-item label {
    display: block;    
    margin-bottom: 9px;
}

.feedback-item input,
.feedback-item textarea {
    width: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    background-color: transparent;
    border: 2px solid #dee3e4;
    padding-top: 10px;
    padding-left: 13px;
    padding-right: 13px;
    padding-bottom: 10px;
}
  
.feedback-item label {
    font-size: 18px;
    line-height: 18px;  
    color: #000000;  
}

.popup-cart { 
    display: none;  
    width: 620px; 
    margin-left: -310px; 
    top: 411px;
    z-index: 11;   
}

.cart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-cart h2 {
    position: relative;     
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    
    margin-top: 64px;
    margin-right: 120px;
    margin-bottom: 69px;
    margin-left: 181px;    
}
    
.popup-cart h2::before {
    content: '';
    position: absolute;
    width: 66px;
    height: 66px;
    background-image: url('../img/icon/icon-mark.svg');
    top: -17px;
    left: -98px;
}

.checkout {
    padding-right: 62px;
    padding-left: 59px;
    margin-right: 20px;
}

.continue-shopping {
    padding-right: 48px;
    padding-left: 44px; 
    color: #000000;
    background-color: #ffffff;   
}

.continue-shopping:hover {
    color: #ffffff;
}

.popup-map { 
    display: none;    
    margin-left: -470px;  
    bottom: 357px;
    width: 940px;
    height: 447px;
    border: 0;      
    background-color: #565656;  
    z-index: 9;
}

.close {
    position: absolute;
    width: 21px;
    height: 21px;    
    background-image: url("../img/icon/icon-close.svg");
    background-color: transparent;
    top: 8px;
    right: 9px;
    border: 0;
}
